@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

.bg-igris-gradient {
  background: radial-gradient(
    circle,
    rgba(255, 171, 171, 1) 0%,
    rgba(186, 201, 230, 1) 100%
  );
}
